.container4{
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: auto;
    font-size: 20px;
}

@media(min-width:500px){
    .box{
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
        border-bottom: 1px dashed gray;
    }
}

.box div{
    text-align: center;
    padding: 10px;
}

button{
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    background-color: white;
    color: blue;
    font: bold;
}

button:hover{
    background-color: gainsboro;
}