<!DOCTYPE html>
<html>
<head>
    <title>CSCB20 - Introduction to Databases and Web Applications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='announcement.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='basic_style.css') }}">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <img src="../static/ut-logo.png">
            <b>CSCB20 - Introduction to Databases and Web Applications</b>
        </div>
    </header>

    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/announcement">Announcement</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/student/feedback">Feedback</a></li>
                <li><a href="/">Page</a></li>
                <li><a href="/resources">Resources</a>
                    <ul>
                        <li><a href="/assignment">Assignment</a></li>
                        <li><a href="/lecture">Lecture</a></li>
                        <li><a href="/lab">Lab</a></li>
                        <li><a href="/tests">Tests</a></li>
                        <li><a href="/course_team">Course Team</a></li>
                    </ul>
                </li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>

    <div class="blank"></div>

    <!-------------------------------Edit the Code Below------------------------------>


    <div class="container">
	<div class="container">
        <h1 class="centre">Announcement</h1>
		<h3 align="left">Welcome to CSCB20.</h3>
		<h3 align="left">All annoucement are sorted by date.</h3>
		<h3 align="left">Please note that tutorials will begin in week 2.</h3>
	<a href="https://q.utoronto.ca/courses/70345/discussion_topics/253320">Announcement:Assignment 2 Office Hours  [Post on :2019.03.06]</a><br>
	<a href="https://q.utoronto.ca/courses/70345/discussion_topics/249985">Announcement:Assignment 2 teams  [Post on :2019.03.04]</a><br>
	<a href="https://q.utoronto.ca/courses/70345/discussion_topics/249042">Announcement:Midterm Exam grades  [Post on :2019.03.03]</a><br>
	<a href="https://q.utoronto.ca/courses/70345/discussion_topics/248244">Announcement:Pre lecture video for lecture on 4th March  [Post on :2019.03.02]</a><br>
	<a href="https://q.utoronto.ca/courses/70345/discussion_topics/245659">Announcement:Assignment 2 is now available  [Post on :2019.02.27]</a><br>
	<a href="https://q.utoronto.ca/courses/70345/discussion_topics/242796">Announcement:Assignment 1 marks are available on MarkUs  [Post on :2019.02.25]</a><br>
	<a href="https://q.utoronto.ca/courses/70345/discussion_topics/227587">Announcement:Additional Midterm Office Hours  [Post on :2019.02.06]</a><br>
	<a href="https://q.utoronto.ca/courses/70345/discussion_topics/216919">Announcement:Assignment 1 Office Hours  [Post on :2019.02.01]</a><br>
	<a href="https://q.utoronto.ca/courses/70345/discussion_topics/208679">Announcement:Assignment 1 is posted  [Post on :2019.01.22]</a><br>
	<a href="http://www.utsc.utoronto.ca/~bretscher/b20/news.html">Announcement:Welcome to CSCB20, tutorial will start at week 2  [Post on :2019.01.19]</a><br>
	</div>
	</div>


    <!---------------------------------------------------------------------->
    <div class="blank"></div>

    <footer id="main-footer">
        <div>
            <a href="http://web.cs.toronto.edu/">Faculty of Computer Science</a>
        </div>
        Site design by Min Qi Zhang and Zhuolin Cai  
    </footer>

</body>
</html>