<!DOCTYPE html>
<html>
<head>
    <title>CSCB20 - Introduction to Databases and Web Applications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assignment.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='basic_style.css') }}">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <img src="../static/ut-logo.png">
            <b>CSCB20 - Introduction to Databases and Web Applications</b>
        </div>
    </header>

    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/announcement">Announcement</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/student/feedback">Feedback</a></li>
                <li><a href="/">Page</a></li>
                <li><a href="/resources">Resources</a>
                    <ul>
                        <li><a href="/assignment">Assignment</a></li>
                        <li><a href="/lecture">Lecture</a></li>
                        <li><a href="/lab">Lab</a></li>
                        <li><a href="/tests">Tests</a></li>
                        <li><a href="/course_team">Course Team</a></li>
                    </ul>
                </li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>

    <div class="blank"></div>
    <!-------------------------------Edit the Code Below------------------------------>

	<div class="container">
        <h1 class="centre">Assignments</h1>
		<div class="container">
		<h2 > Overview</h2>
		<h4> Here are the assignment and exercise topics, weights, and due dates. I will be posting the exercise and assignment handouts here. All exercises and assignments will be submitted on <a href="https://markus.utsc.utoronto.ca/cscb20w19/?locale=en">MarkUs</a>.</h4><br>
		<h2> Assignments</h4><br>
		<h3> Exercise 1 :</h3>
		<h4> <a href="http://www.utsc.utoronto.ca/~bretscher/b20/assignments/a1/">Handout</a> </h4>
		<h4>Topic: Relational Algebra and MySQL </h4>
		<h4>Weight:15% </h4>
		<h4>Due date: Part 1. Wednesday Feb. 1, 11.59pm, Submit to MarkUs. UPDATED Part 2 and 3. For 5% bonus Saturday Feb. 11, 11.59pm or Friday Feb. 17, 11.59 Submit to MarkUs You can download a dumpfile for IMDB_SMALL here. To use it type mysql -u utorid -p < IMDB_SMALL.sql </h4><br>
		<h3>Exercise 2 :</h3>
		<h4> <a href="http://www.utsc.utoronto.ca/~bretscher/b20/assignments/a1/">Handout</a> </h4>
		<h4>Topic: HTML, CSS, PHP </h4>
		<h4>Due date: Part 1: Worth 50% Friday March. 10, 11.59pm, Submit to MarkUs. Part 2: Worth 50% Friday March. 19, 11.59pm, Submit to MarkUs-->.</h4><br>
		<h3> Exercise 3 :</h3>
		<h4> <a href="http://www.utsc.utoronto.ca/~bretscher/b20/assignments/a3/a3_marking_scheme.txt">Handout</a> </h4>
		<h4>Topic: Web Application and Database </h4>
		<h4>Weight:15% </h4>
		<h4>Due date: Friday March 31, 11.59pm</h4>
		</div>
		
    </div>
    
	<!---------------------------------------------------------------------->
    <div class="blank"></div>

    <footer id="main-footer">
        <div>
            <a href="http://web.cs.toronto.edu/">Faculty of Computer Science</a>
        </div>
        Site design by Min Qi Zhang and Zhuolin Cai  
    </footer>

</body>
</html>