<!DOCTYPE html>
<html>
<head>
    <title>CSCB20 - Introduction to Databases and Web Applications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='course_team.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='basic_style.css') }}">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <img src="../static/ut-logo.png">
            <b>CSCB20 - Introduction to Databases and Web Applications</b>
        </div>
    </header>

    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/announcement">Announcement</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/student/feedback">Feedback</a></li>
                <li><a href="/">Page</a></li>
                <li><a href="/resources">Resources</a>
                    <ul>
                        <li><a href="/assignment">Assignment</a></li>
                        <li><a href="/lecture">Lecture</a></li>
                        <li><a href="/lab">Lab</a></li>
                        <li><a href="/tests">Tests</a></li>
                        <li><a href="/course_team">Course Team</a></li>
                    </ul>
                </li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>

    <div class="blank"></div>
    <!-------------------------------Edit the Code Below------------------------------>


    <div class="container">
        <h1 class="centre">Course Team</h1>
    </div>
    <br>
    
    <div class="container-1">
        <div class="box1">
            <img class="image" src="../static/head.png">
            <p>
                Dr. Anna Bretscher</br>
                Email: bretscher@utsc.utoronto.ca</br>
                Office: IC493</br>
                Phone: (416)208-4745</br>
                Office Hours: W 11:00-12:00</br>
            </p>
        </div>

        <div class="box1">
            <img class="image" src="../static/head.png">
            <p>
                TA1</br>
                Email: TA1@utsc.utoronto.ca</br>
                Office: IC493</br>
                Phone: (416)208-4745</br>
                Office Hours: W 11:00-12:00</br>
            </p>
        </div>

        <div class="box1">
            <img class="image" src="../static/head.png">
            <p>
                TA2</br>
                Email: TA2@utsc.utoronto.ca</br>
                Office: IC493</br>
                Phone: (416)208-4745</br>
                Office Hours: W 11:00-12:00</br>
            </p>
        </div>
    </div>
    <br>
    <div class="container-1">
        <div class="box1">
            <img class="image" src="../static/head.png">
            <p>
                TA3</br>
                Email: TA3@utsc.utoronto.ca</br>
                Office: IC493</br>
                Phone: (416)208-4745</br>
                Office Hours: W 11:00-12:00</br>
            </p>
        </div>
    
        <div class="box1">
            <img class="image" src="../static/head.png">
            <p>
                TA4</br>
                Email: TA4@utsc.utoronto.ca</br>
                Office: IC493</br>
                Phone: (416)208-4745</br>
                Office Hours: W 11:00-12:00</br>
            </p>
        </div>

        <div class="box1">
            <img class="image" src="../static/head.png">
            <p>
                TA5</br>
                Email: TA5@utsc.utoronto.ca</br>
                Office: IC493</br>
                Phone: (416)208-4745</br>
                Office Hours: W 11:00-12:00</br>
            </p>
        </div>
    </div>
    <br>
    <div class="container-1">
        <div class="box1">
            <img class="image" src="../static/head.png">
            <p>
                TA6</br>
                Email: TA6@utsc.utoronto.ca</br>
                Office: IC493</br>
                Phone: (416)208-4745</br>
                Office Hours: W 11:00-12:00</br>
            </p>
        </div>

        <div class="box1">
            <img class="image" src="../static/head.png">
            <p>
                TA7</br>
                Email: TA7@utsc.utoronto.ca</br>
                Office: IC493</br>
                Phone: (416)208-4745</br>
                Office Hours: W 11:00-12:00</br>
            </p>
        </div>

        <div class="box1">
            <img class="image" src="../static/head.png">
            <p>
                TA8</br>
                Email: TA8@utsc.utoronto.ca</br>
                Office: IC493</br>
                Phone: (416)208-4745</br>
                Office Hours: W 11:00-12:00</br>
            </p>
        </div>
    </div>


    <!---------------------------------------------------------------------->
    <div class="blank"></div>

    <footer id="main-footer">
        <div>
            <a href="http://web.cs.toronto.edu/">Faculty of Computer Science</a>
        </div>
        Site design by Min Qi Zhang and Zhuolin Cai  
    </footer>

</body>
</html>