<!DOCTYPE html>
<html>
<head>
    <title>CSCB20 - Introduction to Databases and Web Applications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lab.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='basic_style.css') }}">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <img src="../static/ut-logo.png">
            <b>CSCB20 - Introduction to Databases and Web Applications</b>
        </div>
    </header>

    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/announcement">Announcement</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/student/feedback">Feedback</a></li>
                <li><a href="/">Page</a></li>
                <li><a href="/resources">Resources</a>
                    <ul>
                        <li><a href="/assignment">Assignment</a></li>
                        <li><a href="/lecture">Lecture</a></li>
                        <li><a href="/lab">Lab</a></li>
                        <li><a href="/tests">Tests</a></li>
                        <li><a href="/course_team">Course Team</a></li>
                    </ul>
                </li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>

    <div class="blank"></div>
    <!-------------------------------Edit the Code Below------------------------------>
	<div class="container">
        <h1 class="centre">Labs</h1>
		<div class="container">
			<h2> Tutorial Exercises</h2>
			<h4> This section contains the tutorial exercises. Tutorials are held every week. The first tutorial week is week 2. Please make use of this valuable resource!</h4><br>
		</div>
		<h4 class="centre">Week 2 Lab Handout <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t1/">Python</a>, <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t1/">Command line</a> Solution: None</h4>
		<h4 class="centre">Week 3 <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t2/relational.pdf">Lab Handout</a> Solution: None</h4>
		<h4 class="centre">Week 4 <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t3/index.html">Lab Handout</a> Solution: <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t3/query_solns.html">File</a></h4>
		<h4 class="centre">Week 5 <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t4/handout.pdf">Lab Handout</a> Solution: <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t4/tut4_soln.pdf">File</a></h4>
		<h4 class="centre">Week 6 <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t5/handout.pdf">Lab Handout</a> Solution: <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t5/handout.pdf">File</a></h4>
		<h4 class="centre">Week 7 <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t7/handout.pdf">Lab Handout</a> Solution: None</h4>
		<h4 class="centre">Week 8 <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t8/">Lab Handout</a> Solution: None</h4>
		<h4 class="centre">Week 9 <a href="https://www.utsc.utoronto.ca/~bretscher/b20/tutorials/t9/">Lab Handout</a> Solution: None</h4>
		<h4 class="centre">Week 10 <a href="https://www.w3schools.com/jquery/jquery_syntax.asp">Lab Handout</a> Solution: None</h4><br>
	</div>
	<!---------------------------------------------------------------------->
    <div class="blank"></div>

    <footer id="main-footer">
        <div>
            <a href="http://web.cs.toronto.edu/">Faculty of Computer Science</a>
        </div>
        Site design by Min Qi Zhang and Zhuolin Cai  
    </footer>

</body>
</html>