<!DOCTYPE html>
<html>
<head>
    <title>CSCB20 - Introduction to Databases and Web Applications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lecture.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='basic_style.css') }}">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <img src="../static/ut-logo.png">
            <b>CSCB20 - Introduction to Databases and Web Applications</b>
        </div>
    </header>

    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/announcement">Announcement</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/student/feedback">Feedback</a></li>
                <li><a href="/">Page</a></li>
                <li><a href="/resources">Resources</a>
                    <ul>
                        <li><a href="/assignment">Assignment</a></li>
                        <li><a href="/lecture">Lecture</a></li>
                        <li><a href="/lab">Lab</a></li>
                        <li><a href="/tests">Tests</a></li>
                        <li><a href="/course_team">Course Team</a></li>
                    </ul>
                </li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>

    <div class="blank"></div>
    <!-------------------------------Edit the Code Below------------------------------>


    <div class="container">
        <h1 class="centre">Lectures</h1>
        <h3 class="mention">Please print and bring these notes/worksheetsto class.</h3>
    </div>

    <div class="container-1">
        <div>
            <h3>Week 1: Introduction/Databases background</h3> 
            <p>
                <b>Reading: </b></br>
                <b>Lecture Material: </b><a href="../static/sample.pdf">Power Point</a></br>
                <b>In Class: </b></br>
            </p>
        </div>

        <div>
            <h3>Week 3: Schema Diagram/Relational Algebra</h3> 
            <p>
                <b>Reading: </b></br>
                <b>Lecture Material: </b><a href="../static/sample.pdf">Power Point</a></br>
                <b>In Class: </b></br>
            </p>
        </div>

        <div>
            <h3>Week 4: SQL and MySQL</h3> 
            <p>
                <b>Reading: </b></br>
                <b>Lecture Material: </b><a href="../static/sample.pdf">Power Point</a></br>
                <b>In Class: </b></br>
            </p>
        </div>

        <div>
            <h3>Week 5: MySQL Queries/Creating and Editing Tables</h3> 
            <p>
                <b>Reading: </b></br>
                <b>Lecture Material: </b><a href="../static/sample.pdf">Power Point</a></br>
                <b>In Class: </b><a href="../static/sample.pdf">In Class MySQL</a></br>
            </p>
        </div>

        <div>
            <h3>Week 6: MySQL Outer Joins/Views/NULL/string functions/HTML</h3> 
            <p>
                <b>Reading: </b></br>
                <b>Lecture Material: </b><a href="../static/sample.pdf">Power Point</a></br>
                <b>In Class: </b></br>
            </p>
        </div>

        <div>
            <h3>Week 7: HTML/CSS</h3> 
            <p>
                <b>Reading: </b></br>
                <b>Lecture Material: </b><a href="../static/sample.pdf">CSS Power Point</a></br>
                <b>In Class: </b></br>
            </p>
        </div>

        <div>
            <h3>Week 8: PHP</h3> 
            <p>
                <b>Reading: </b></br>
                <b>Lecture Material: </b><a href="../static/sample.pdf">Power Point</a></br>
                <b>In Class: </b></br>
            </p>
        </div>

        <div>
            <h3>Week 9: PHP and SQL</h3> 
            <p>
                <b>Reading: </b></br>
                <b>Lecture Material: </b><a href="../static/sample.pdf">Power Point</a></br>
                <b>In Class: </b><a href="../static/sample.pdf">Empty starter file: query.php</a></br>
            </p>
        </div>

        <div>
            <h3>Week 10: JavaScript and jQuery</h3> 
            <p>
                <b>Reading: </b></br>
                <b>Lecture Material: </b><a href="../static/sample.pdf">jQuery Power Point</a></br>
                <b>In Class: </b></br>
            </p>
        </div>

        <div>
            <h3>Week 11: jQuery/AJAX/JSON</h3> 
            <p>
                <b>Reading: </b></br>
                <b>Lecture Material: </b><a href="../static/sample.pdf">Power Point</a></br>
                <b>In Class: </b></br>
            </p>
        </div>

        <div>
            <h3>Week 12: Last Year's final</h3> 
            <p>
                <b>Reading: </b></br>
                <b>Lecture Material: </b><a href="../static/sample.pdf">W16 Final</a></br>
                <b>In Class: </b></br>
            </p>
        </div>

    </div>


    <!---------------------------------------------------------------------->
    <div class="blank"></div>

    <footer id="main-footer">
        <div>
            <a href="http://web.cs.toronto.edu/">Faculty of Computer Science</a>
        </div>
        Site design by Min Qi Zhang and Zhuolin Cai  
    </footer>

</body>
</html>