<!DOCTYPE html>
<html>
<head>
    <title>CSCB20 - Introduction to Databases and Web Applications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='resources.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='basic_style.css') }}">
</head>
<body>
    <header id="main-header">
        <div class="container">
            <img src="../static/ut-logo.png">
            <b>CSCB20 - Introduction to Databases and Web Applications</b>
        </div>
    </header>

    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/announcement">Announcement</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/student/feedback">Feedback</a></li>
                <li><a href="/">Page</a></li>
                <li><a href="/resources">Resources</a>
                    <ul>
                        <li><a href="/assignment">Assignment</a></li>
                        <li><a href="/lecture">Lecture</a></li>
                        <li><a href="/lab">Lab</a></li>
                        <li><a href="/tests">Tests</a></li>
                        <li><a href="/course_team">Course Team</a></li>
                    </ul>
                </li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>

    <div class="blank"></div>
    <!-------------------------------Edit the Code Below------------------------------>
	<div class="container">
        <h1 class="centre">Resources</h1><br>
		<div class="container">
		<h2> Online Resources</h2>
		<h3> 1.Course website </h3>
		<h4> Course information, lecture notes, tutorial material, important announcements, etc. will be posted on the course website. It is your responsibility to visit it frequently.</h4><br>
		<h3> 2.Beginner Tutorial for <a href="https://code.tutsplus.com/articles/sql-for-beginners--net-8200">MySQL</a></h3><br>
		<h3> 3.Email communication</h3>
		<h4>Questions regarding the course material, assignments, midterm, etc. should be posed on the bulletin board. Questions about the assignment which you feel you cannot formulate without revealing your solution (should be very rare!), as well as questions and concerns regarding your personal matters should be directed to the instructor.</h4><br>
		<h3> 4.<a href="https://piazza.com/utoronto.ca/winter2017/cscb20">Discussion board</a></h3>
		<h4>You are encouraged to use the bulletin board to discuss the course material, pose questions on the assignments, etc. The bulletin board will be monitored by the instructor and by your TAs. Please, be very careful not to reveal (parts of) your solution on the bulletin board.</h4><br>
		<h2>Software and documentation
		<h3>Logging into Mathlab.</h3>
		<h4>1. Mac OS comes with the application "terminal". Simple click on it to run. Login to mathlab by typing</h4>
		<h5>ssh utorid@mathlab.utsc.utoronto.ca.</h5><br>
		<h4>2.Windows - you will need a SSH client. PuTTY is a good free one. You can download and install here: <a href="https://www.putty.org/">PuTTY</a>. Use the same command as above to login to mathlab:</h4>  
		<h5>ssh utorid@mathlab.utsc.utoronto.ca.</h5>


		
		
		</div>
		
	</div>
	<!---------------------------------------------------------------------->
    <div class="blank"></div>

    <footer id="main-footer">
        <div>
            <a href="http://web.cs.toronto.edu/">Faculty of Computer Science</a>
        </div>
        Site design by Min Qi Zhang and Zhuolin Cai  
    </footer>

</body>
</html>